.content-top{
    background-color: #cae9ff;
    position: relative;
}
.content-top .log-sign{
    position: absolute;
    top: 20px;
    right: 12px;
}
.content-top .box{
    padding: 200px 50px;
    /* border-radius: 5px; */
}
.content-mid{
    /* background-color: #1690A7; */
    background-color: #0077b6;
    color: white;
}
.content-mid .function{
    padding: 100px 0;
    text-align: center;
}